@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
body {
    background: url("../images/geometric.jpg") no-repeat bottom right fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    font-family: 'Space Mono', monospace;
}


/* <!-- --------------- NAVBAR --------------- --> */

.navbar-brand {
    padding: 0;
    margin-right: 0;
}

.logo {
    width: 350px;
    margin-left: 0;
}

@media(max-width: 769px) {
    .logo {
        width: 320px;
    }
}

@media(max-width: 455px) {
    .logo {
        width: 220px;
    }
}


/* <!-- --------------- PROJECTS --------------- --> */

.project img {
    border-radius: 50%;
    transition: border-radius .3s;
    width: 90%;
}

.project a img:hover {
    border-radius: 0%;
    opacity: 1;
    box-shadow: 0 0px 20px black;
}