    @import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
    body {
        background: url("../images/geometric.jpg") no-repeat bottom right fixed;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        font-family: 'Space Mono', monospace;
        text-align: center;
        scroll-behavior: smooth;
    }
    /* NAVBAR */
    
    .navbar-brand {
        padding: 0;
        margin-right: 0;
    }
    
    .logo {
        width: 350px;
        margin-left: 0;
    }
    
    @media(max-width: 769px) {
        .logo {
            width: 320px;
        }
    }
    
    @media(max-width: 455px) {
        .logo {
            width: 220px;
        }
    }
    /* HOME */
    
    #home {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #b9d5ba;
    }
    
    div .intro {
        line-height: 200%;
        font-size: 30px;
    }
    
    @media(max-width: 455px) {
        .intro {
            line-height: 0;
        }
    }
    
    .hvr-wobble-to-bottom-right:hover,
    .hvr-wobble-skew:hover,
    .hvr-buzz:hover,
    .hvr-pulse-grow:hover,
    .hvr-wobble-bottom:hover,
    .hvr-wobble-top:hover {
        color: #01FB01;
    }
    
    #home .jumbotron {
        background-color: transparent;
    }
    
    .breakdown {
        border-top: 3px solid #28a745;
    }
    /* ABOUT */
    
    .row i {
        font-size: 40px;
    }
    
    .icons {
        margin-top: 50px;
    }
    
    .chinque-photo {
        width: 100%;
        text-align: center;
    }
    
    .text-about {
        margin: 1em;
    }
    
    .rounded-circle {
        height: 18em;
        width: 18em;
    }
    
    .progress {
        position: relative;
        height: 25px;
        margin-bottom: 30px;
    }
    
    .progress-type {
        position: absolute;
        left: 5px;
        bottom: 13px;
        font-weight: 400;
        color: #343a40;
    }
    
    h3 {
        color: #ffc107;
        padding-bottom: 30px;
    }
    
    .responsive-icon {
        width: 65px;
        height: 45px;
    }
    
    .fa-bars {
        color: #01FB01;
    }
    /* PROJECTS */
    
    .project img {
        border-radius: 50%;
        transition: border-radius .3s;
        width: 90%;
    }
    
    .project a img:hover {
        border-radius: 0%;
        opacity: 1;
        box-shadow: 0 0px 20px black;
    }
    
    #projects span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        background-color: rgba(8, 8, 8, 0.6);
        border-radius: 15px;
    }
    /* HOBBIES */
    
    #photo {
        column-count: 3;
        column-gap: 2px;
    }
    /* CONTACT */
    
    .center-form {
        padding-top: 10px;
        margin: 0 auto;
        max-width: 70%;
        text-align: left;
    }
    /* FOOTER */
    
    footer {
        position: relative;
        background-color: #343A40;
        font-size: 20px;
        height: 50px;
        width: 100%;
        color: dimgray;
        padding-bottom: 0;
        margin-bottom: 0;
        bottom: 0;
    }
    
    @media(max-width: 455px) {
        footer {
            font-size: 13px;
        }
    }
    
    .icon i {
        color: #01FB01;
        font-size: 1.3em;
    }
    
    .icon i:hover {
        color: #fff;
    }